@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter:wght@300&family=Mulish&family=Poppins&family=Roboto&display=swap');

*{
  margin: 0; 
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}


